<table>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        Name
      </th>
      <th>
        Brand
      </th>
      <th>
        Price
      </th>
      <th>
        Quantity
      </th>
      <th>
        Description
      </th>
    </tr>
    <tr *ngFor="let a of rows">
      <td>
        {{a.id}}
      </td>
      <td>
        {{a.name}}
      </td>
      <td>
        {{a.brand}}
      </td>
      <td>
        {{a.price}}
      </td>
      <td>
        {{a.quantity}}
      </td>
      <td>
        {{a.description}}
      </td>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
